/* ----------------------------------
Self-adaption Width CSS file for Discuz! X
(C) acgi.vip
http://acgi.vip
Created & Modified by ooz.
---------------------------------- */
@charset "utf-8";
/**portal::portalcp**/
.mdcp{margin:10px 15px;box-shadow:none!important;}
.bm.bw0, .bbda{padding:10px 15px;box-shadow:none!important;}
/**end**/

/**forum::index**/
#chart{position:relative;margin-bottom: 20px;padding:18px 15px;font-size: 14px;background: url({STYLEIMGDIR}/tmbg/white_60.png);box-shadow: 0 0 3px rgba(0,0,0,.15);border-radius:8px;}
.chart{padding-left: 30px;background: url({STYLEIMGDIR}/common/chart_w.png) no-repeat 0 0;}
#anc, #ancl{display:inline-block;width:auto;}
#an dt, #an dd{float:right;}
#an dt{display:block;font-size:0!important;width:25px;height:29px;background:url({STYLEIMGDIR}/common/loudspeaker_red.png) no-repeat 0 6px;}
#an li{position:relative;float:left;width:auto;}
#an li span{margin-right:10px;/*padding-left:25px;*/max-width:420px;width:auto;}
#an li em{padding-left:13px;line-height:30px;color:#555;text-align:center;background:url({STYLEIMGDIR}/common/date.gif) no-repeat 0 50%;}

.mn{overflow:visible;}
.mod_pop a{height:20px;line-height:20px;font-size:12px;}
.des.p_pop{margin-top:6px;padding:10px;max-width:360px;background:url({STYLEIMGDIR}/tmbg/white_90.png);}

.desc{display:inline-block;margin-bottom:6px;}
.des img{float:none;margin:4px 0;max-width:340px;max-height:314px;border-radius: 3px;}
.des img:hover{box-shadow:none;}
.desline{margin:5px 0 4px;height:1px;border-top:1px dashed #eee;}
.postscount{margin-top:4px;}
.postscount p{height:20px;line-height:20px;font-size:12px;}
.fl_icn_g.ex{width:100%;}
.fl_icn_g.ex h3{margin-left:5px;font-size:14px;line-height:26px;font-weight:normal;}
.fl_icn_g.ex img{float:none;margin-top:5px;}

.fl_icn img, .fl_icn_g img, .fl_icn_g.ex img{opacity: .8;}
.fl_icn img:hover, .fl_icn_g img:hover, .fl_icn_g.ex img:hover{opacity: 1;/*box-shadow: 0 0 8px rgba(47,179,255,.5);*/}/*°å¿éÍ¼±êÒõÓ°-hover*/

.fl_icn_g.ex .fl_info, .fl_icn_g.ex .fl_info a{text-shadow: none;font-size: 12px;line-height:28px;/*text-shadow: 0 1px 1px #F5F5F5;*/}
.fl_tb h2, .fl_g dt{font-size:16px;font-weight:normal;line-height:32px;}
.fl_tb h2 a{color:#555;}
.fl_tb dd, .fl_g dd, .fl_i{color:#999;font-size:12px;line-height:28px;}
.fl_i{text-align:center;margin:0 10px;}
.fl_tb dd a, .fl_g dd a{color:#666;}
.fl_tb h2 a:hover, .fl_tb .subforum a:hover{color:#ff6a9e;}
.fl_tb td{padding: 20px 0;/* vertical-align: top;*/}
.fl_tb .count, .mod_c{display:inline-block;margin: -3px 0 0 .6em;vertical-align: middle;cursor:default;}
.fl_tb .count{color: #fff;background:url({STYLEIMGDIR}/tmbg/blue_40.png);font-size: 12px;line-height:14px;font-weight:normal;padding: 0 4px;border-radius: 5px;}
.mod_c{width:20px;background:url({STYLEIMGDIR}/common/fm_moder_1.png) no-repeat 50% 50%;}
.mod_c.ex{background-image:url({STYLEIMGDIR}/common/fm_moder_gray.png);}
.fl_tb .description, .fl_info a.lastpost_t{color:#999;}
.fl_tb .description img{display:none;}
.lastpost{margin-right:10px;padding-left:13px;background:url({STYLEIMGDIR}/common/fm_replay_gray.png) no-repeat 0 50%;}
.lastpost:hover{color:#9fcf0f;background-image:url({STYLEIMGDIR}/common/fm_replay.png)}
.lastposter a, a.lastpost_t{padding-left:13px;background:url({STYLEIMGDIR}/common/fm_poster_gray.png) no-repeat 0 50%;}
.lastposter:hover a, a:hover.lastpost_t{color:#ff9300;background-image:url({STYLEIMGDIR}/common/fm_poster.png);}

/* c1fmtop */
.c1fmtop{margin-bottom:20px;padding: 10px;background:url({STYLEIMGDIR}/tmbg/white_60.png);border-radius:8px;box-shadow: 0 0 3px rgba(0,0,0,.15);height:273px;}
#c1fmtop_slide{float:left;width:310px;}
.c1fmtop_tab{position:relative;margin-left:350px;}
.c1fmtop_tab .tab_btn{position:absolute;left:-20px;}
.tab_list > div{display:none;}
.tab_btn li{width:10px;height:130px;font-size:0;background:url({STYLEIMGDIR}/tmbg/blue_60.png);border-radius:5px;}
.tab_btn li.cur{background:url({STYLEIMGDIR}/tmbg/fuchsine_60.png);}

.sub_list, .tab_side{background:url({STYLEIMGDIR}/tmbg/white_20.png);box-shadow: 0 0 3px rgba(0,0,0,.15);border-radius:8px;}
.sub_list{margin-right:20px;padding:10px;height:253px;}
.sub_list_tab {margin:4px 0;height:24px;}
.sub_list_tab li{float:left;margin-left:10px;padding:0 10px;line-height:24px;text-align:center;color:#fff;background: #2fb3ff;border-radius:5px;cursor:hand;cursor:pointer;}
.sub_list_tab li.cur{background:#f66;}
.sub_list_main > div{display:none;}
.sub_list_main > div#new_list{display:block;}
.tz_list li{position:relative;height:31px;line-height:32px;font-size:14px;border-top:1px dashed #eee;}
.tz_list li a{display:inline-block;max-width:314px;}
.tz_list li.num1{border-top:0;}
.tz_list li i{float:left;margin-right:5px;width:20px;line-height:28px;text-align:center;font-style: italic;font-size:14px;color:#999;font-family: Georgia, serif;}
.tz_list li .r_v{position:absolute;top:0;right:0;width:80px;color:#aaa;font-size:12px;text-align:right;/*font-family: Georgia, serif;*/}
.tz_list li .aor{display:none;position:absolute;top:0;right:82px;color:#aaa;font-size:12px;}
.tz_list li .aor img{margin-top:-3px;margin-right:5px;width:20px;height:20px;border-radius:50%;vertical-align:middle;}

.tab_side{position:absolute;top:0;right:0;bottom:2px;padding:10px;width:200px;}
#slide_list{position:relative;}
#slide_list .hd{position:absolute;bottom:13px;left:5px;right:5px;text-align:center;}
#slide_list .hd li{display:inline-block;margin:2px;width:8px;height:8px;font-size:0;color:#fff;background:#fff;border-radius:50%;}
#slide_list .hd li.on{background:#f88;}
#slide_list li{position:relative;}
#slide_list li img{border-radius:5px;}
#slide_list li p{position:absolute;top:30px;left:15px;right:15px;padding:5px 10px;font-size:15px;font-weight:bold;text-align:center;color:#fff;background:url({STYLEIMGDIR}/tmbg/black_40.png);}
#slide_list li p a{display:inline-block;max-height:40px;color:#fff;overflow:hidden;}
#rec_list{position:relative;margin-top:15px;padding:0 5px;height:113px;}
#rec_list li .tit{height:26px;line-height:26px;text-align:center;font-size:14px;font-weight:bold;}
#rec_list li .smy{margin-top:3px;text-indent: 20px;line-height: 20px;max-height: 80px;color: #777;background: url({STYLEIMGDIR}/common/quote.png) no-repeat 2px -2px;overflow: hidden;}
#rec_list .prev, #rec_list .next{position:absolute;top:50%;margin-top:-25px;width:20px;height:50px;line-height:50px;font-size:20px;text-align:center;color:#fff;background:url({STYLEIMGDIR}/tmbg/black_20.png);}
#rec_list .prev{left:0;}
#rec_list .next{right:0;}
#rec_list:hover .prev{left:-5px;}
#rec_list:hover .next{right:-5px;}
#user_list{position:absolute;top:153px;right:0;padding:10px;width:200px;}
#user_list li{float:left;margin:0 1px 1px 0;width:49px;height:48px;}
#user_list li img{width:49px;height:48px;border-radius:3px;}
#user_list li.num1{width:99px;height:97px;}
#user_list li.num1 img{width:99px;height:97px;}

#tuwen_list{margin-top:-1px;}
#tuwen_list li{float:left;position:relative;margin-bottom:10px;width:50%;height:84px;background:url({STYLEIMGDIR}/tmbg/white_20.png);border-radius:5px;box-shadow: 0 0 3px rgba(0,0,0,.15);}
#tuwen_list li.num2,
#tuwen_list li.num4,
#tuwen_list li.num6{margin-left:10px;margin-right:-10px;}
#tuwen_list li.num5,
#tuwen_list li.num6{margin-bottom:0;}
#tuwen_list li div{margin:10px 10px 10px 140px;height:64px;overflow:hidden;}
#tuwen_list li div a{font-size: 14px;line-height:20px;color:#333;}
#tuwen_list li div a:hover{color:#2fb3ff;}
#tuwen_list li div p{margin-top:4px;line-height:20px;color:#999;}
#tuwen_list li div .cover{position:absolute;left:0;top:0;border-radius:5px 0 0 5px;overflow:hidden;}
#tuwen_list li div .aor{position:absolute;left:115px;bottom:3px;/*bottom:-15px;*/}
#tuwen_list li div .fmname{position:absolute;left:0;top:0;/*top:-15px;*/padding:2px 5px;color:#fff;background:url({STYLEIMGDIR}/tmbg/black_40.png);}
#tuwen_list li div .aor img{width:30px;height:30px;border-radius:50px;}
#tuwen_list li:hover div .aor{left:95px;}
#tuwen_list li:hover div .fmname{border-radius:5px 0 5px 0;}

.c1sd_slide, .c1sd_tuwen, .c1sd_tag, .c1auto_reply
{position:relative;margin-bottom:15px;padding:10px;background:url({STYLEIMGDIR}/tmbg/white_60.png);box-shadow: 0 0 3px rgba(0,0,0,.15);border-radius:8px;}
.c1sd_slide .bd li{border-radius:5px;overflow:hidden;}
.c1sd_slide .bd li a{display:block;}
.c1sd_slide .bd li .tit{display:block;position:absolute;left:0;right:0;bottom:0;padding:5px 8px;line-height:26px;color:#fff;background:url({STYLEIMGDIR}/tmbg/black_20.png);font-size:16px;text-align:center;}
.c1sd_slide .prev, .c1sd_slide .next{position:absolute;top:50%;margin-top:-16px;width:28px;height:28px;opacity: .3;}
.c1sd_slide .prev{left:18px;background: url({STYLEIMGDIR}/common/bd_prev.png) no-repeat 50% 50%;}
.c1sd_slide .next{right:18px;background: url({STYLEIMGDIR}/common/bd_next.png) no-repeat 50% 50%;}
.c1sd_slide:hover .prev, .c1sd_slide:hover .next{opacity: .65;}
.c1sd_slide .prev:hover, .c1sd_slide .next:hover{opacity: 1;}
.c1sd_slide .hd{position:absolute;top:16px;left:12px;right:12px;margin-top:-16px;text-align:center;visibility: hidden;opacity: 0;}
.c1sd_slide:hover .hd{margin-top:0;visibility: visible;opacity: 1;}
.c1sd_slide .hd li
{display:inline-block;margin:2px;width:20px;height:20px;line-height:20px;font-size:12px;color:#fff;background:url({STYLEIMGDIR}/tmbg/black_20.png);cursor:hand;cursor:pointer;border-radius:50%;}
.c1sd_slide .hd li:hover{color:#f66;background:url({STYLEIMGDIR}/tmbg/white_80.png);}

.c1sd_tuwen li{position:relative;padding:15px 0;border-top:1px solid #eee;}
.c1sd_tuwen li form{display:none;}
.c1sd_tuwen li i{float:left;width:20px;line-height:14px;text-align:center;font-style: italic;font-size:16px;color:#999;font-family: Georgia, serif;}
.c1sd_tuwen li.active i{display:none;/*position:absolute;left:0;font-size:20px;width:30px;height:30px;line-height:24px;color:#fff;background:#999;border-radius:0 0 50% 0;*/}
.c1sd_tuwen li.num1{border-top:0;}
.c1sd_tuwen li img{display:none;border-radius:5px;}
.c1sd_tuwen li p{display:none;padding:0 10px;text-indent:20px;line-height:20px;max-height:60px;color:#777;background: url({STYLEIMGDIR}/common/quote.png) no-repeat 10px -2px;overflow:hidden;}
.c1sd_tuwen li.active img, .c1sd_tuwen li.active p{display:block;}
.c1sd_tuwen li h3{margin-top:3px;padding-left:5px;font-size:14px;line-height:14px;font-weight:normal;}
.c1sd_tuwen li.active h3{font-weight:bold;text-align:center;line-height:32px;}

.c1sd_tag a{display:block; float:left;margin:4px;padding:2px 5px;border-radius:8px;}
.c1sd_tag a:hover{color:#fff!important;background:#ff6a9e;border:1px solid #ff6a9e!important;}
.c1sd_tag a.notag{border:1px solid #eee;}
.c1auto_reply{padding-bottom:0;}
div.c1auto_reply h2{background:url({STYLEIMGDIR}/common/tt.gif) no-repeat 3px -26px;}
.c1auto_reply .list{position: relative;padding:0 15px 0 10px;height:auto;}
.c1auto_reply .prev, .c1auto_reply .next{position: absolute;right:-2px;top:50%;width:19px;height:40px;border-radius:5px;z-index:2;visibility:hidden;opacity:0;}
.c1auto_reply:hover .prev,
.c1auto_reply:hover .next{visibility:visible;opacity:0.5;}
.c1auto_reply .prev:hover, .c1auto_reply .next:hover{opacity:1;}
.c1auto_reply .prev{margin-top:-100px;background:#eee url({STYLEIMGDIR}/common/re_prev.png) no-repeat 50% 50%;}
.c1auto_reply .next{margin-top:60px;background:#eee url({STYLEIMGDIR}/common/re_next.png) no-repeat 50% 50%;}
.c1auto_reply .list ul li{position: relative;padding:25px 5px 15px 53px;border-bottom:1px solid #eee;z-index:1;}
.c1auto_reply .list ul li a{display:inline;padding:0;}
.c1auto_reply .list ul li a:hover{padding-left:0;}
.c1auto_reply .list ul li .num{position: absolute;top:60px;left:0;width:43px;font-size:32px;color:#eee;text-align:center;}
.c1auto_reply .list ul li .avr{position: absolute;top:15px;left:0;}
.c1auto_reply .list ul li .avr img{padding:3px;width:35px;height:35px;border:1px solid #ddd;border-radius:50%;}
.c1auto_reply .list ul li .smy{margin:10px 0;padding:5px 10px;line-height:21px;background:#f2f2f2;border-radius:0 10px 10px 10px;border:1px dashed #cacaca;}
.c1auto_reply .list ul li .smy a{display:block;}

li i.cor1{color:#ff6a9e;}
li i.cor2{color:#00cc00;}
li i.cor3{color:#ff9d1a;}

/* acmi»ÃµÆÆ¬ */
.acmi { position:relative;overflow:hidden;}
.acmi .acmipic{}
.acmi .acmipic li{position:relative;width:480px;border-radius:5px;overflow:hidden;}
.acmi .acmipic li .tit{position:absolute;bottom:0;left:0;right:0;padding:0 10px;height:45px;line-height:55px;font-size:16px;text-align:center;color:#fff;background:url({STYLEIMGDIR}/tmbg/black_so45.png) repeat-x;z-index:2;}
.acmi .num { position:absolute; bottom:30px; right:5px; height:20px; text-align:right; zoom:1; z-index:3; overflow:hidden;}
.acmi .num li { display:inline-block; margin-top:6px; width:15px; height:6px; font-size:0; background:#FFF; margin-right:10px; /*border-radius:2px; */cursor:pointer;}
.acmi .num li.on { width:30px; background:#2fb3ff; }
.acmi .prev,
.acmi .next { position:absolute; top:50%; margin-top:-20px; width:40px; height:40px; background:url({STYLEIMGDIR}/common/slider_arrow.png) no-repeat; visibility:hidden;opacity:0;}
.acmi .prev { left:-20px; }
.acmi .next { right:-20px; background-position:0 100%; }
.acmi:hover .prev{left:20px;visibility:visible;opacity:0.5;}
.acmi:hover .next{right:20px;visibility:visible;opacity:0.5;}
.acmi .prev:hover, .acmi .next:hover{opacity:1;background-image:url({STYLEIMGDIR}/common/slider_arrow_hover.png);}

/* acmi */
.acmi .num{bottom:20px; left:0; right:0px; height:30px; text-align:center;}

/* c1mnlist */
.mn_btn{margin-bottom:15px;}
.mn_btn li, .mn_post, .mn_reg
{position:relative;margin-right:15px;/*width:90px;*/height:30px;line-height:30px;font-size:14px;text-align:center;background:url({STYLEIMGDIR}/tmbg/white_60.png);border-radius:5px;}
.mn_btn li{float:left;padding:8px 15px 8px 48px;}
.mn_btn li span, .mn_reg span, .mn_post span{display:inline-block;line-height:26px;border-top:1px dashed;border-bottom:1px dashed;}
/*.mn_btn li:hover span, .mn_reg:hover span, .mn_post:hover span{border-top-style:solid;border-bottom-style:solid;}*/
#mn_catlist span{border-color:#a0efa0;}
#mn_news span{border-color:#fec1c3;}
#mn_pics span{border-color:#e8aefd;}
.mn_reg span{border-color:#e8aefd;}
.mn_post span{border-color:#90eae5;}
.mn_reg, .mn_post{padding:9px 15px 7px 48px;}
.mn_reg, .mn_reg span{width:auto;max-width:260px;}
.mn_post{margin-right:0;}
.mn_btn li i, .mn_post i, .mn_reg i{position: absolute;top:8px;left:10px;width:30px;height:30px;background:url({STYLEIMGDIR}/common/icons_mn.png);}
#mn_catlist i{background-position:0 0;}
#mn_news i{background-position:0 -50px;}
#mn_pics i{background-position:0 -100px;}
.mn_reg i{background-position:0 -150px;}
.mn_post i{background-position:0 -200px;}
#Lmn_news{/*margin-bottom:20px;background:url({STYLEIMGDIR}/tmbg/white_60.png);border-radius:0 0 5px 5px;*/}
.news_thread{margin:0 15px;padding:20px;border-top:1px solid #f2f2f2;background:url({STYLEIMGDIR}/tmbg/black_0.png);}
.news_thread:hover{background:url({STYLEIMGDIR}/tmbg/black_5.png);}
#news_1{border-top:0;}
.news_pagenav{padding:20px;}
.news_thread .pic, .news_thread .tit_box{margin-bottom:15px;}
.news_thread .pic{}
.news_thread .pic img{max-width:100%;border-radius:3px;}
.news_thread .tit{font-size: 16px;}
.news_thread .smy{display:none;}
.tit i{display:inline-block;padding:0 5px;height:18px;line-height:18px;font-size:12px;color:#fff;border-radius:2px;cursor:default;box-shadow: 0 0 3px rgba(0,0,0,.15);}
.tit i.top.t1{background-color:#61cab8;}
.tit i.top.t2{background-color:#68c7ff;}
.tit i.top.t3{background-color:#f66;}
.tit i.pici{background-color:#81d385;}
.tit i.file{background-color:#fdcc7b;}
.tit i.digest.d1{background-color:#58c9b9;}
.tit i.digest.d2{background-color:#9d9dff;}
.tit i.digest.d3{background-color:#ff855b;}
.tj em, .sub em{padding:2px 2px 2px 18px;color:#bcbcbc;background:url({STYLEIMGDIR}/common/icons_tj.png) no-repeat;cursor:default;}
.tj .vie{margin-right:15px;background-position:0 3px;}
.tj .vie:hover{background-position:0 -16px;}
.tj .rep{background-position:0 -34px;}
.tj .rep:hover{background-position:0 -53px;}
.sub em{margin-right:10px;}
.sub em a{color:#bcbcbc;}
.tj em:hover, .tj em:hover a, .sub em:hover, .sub em:hover a{color:#61cab8;}
.sub .aor{background-position:0 -110px;}
.sub .aor:hover{background-position:0 -129px;}
.sub .date{background-position:0 -73px;}
.sub .date:hover{background-position:0 -92px;}
.sub .cat{background-position:0 -150px;}
.sub .cat:hover{background-position:0 -169px;}
.sub .tag{background-position:0 -189px;}
.sub .tag:hover{background-position:0 -211px;}
.sub .lastreply{margin-right:0;background-position:0 -109px;}
.sub .lastreply:hover{background-position:0 -128px;}
/**end**/

/**forum::forumdisplay**/

.bdl{border: 0;background: url({STYLEIMGDIR}/tmbg/white_60.png);border-top:3px solid #68c7ff;box-shadow: 0 0 3px rgba(0,0,0,.15);border-radius:0 0 8px 8px;}
.bdl dl.a, .bdl dd.bdl_a a{background:none;}
.bdl dt{}
.mn{overflow:visible;}

.bm_h, .bml .bm_h{/*height:36px;line-height:36px;*/padding-top:0;background:url({STYLEIMGDIR}/tmbg/black_0.png);}
.bm_h:hover, .bml .bm_h:hover{background:url({STYLEIMGDIR}/tmbg/black_5.png);}
.fl.bm, .bml.bm{padding-bottom:6px;background: url({STYLEIMGDIR}/tmbg/white_60.png);box-shadow: 0 0 3px rgba(0,0,0,.15);}
.bml .bm_c{padding-top:6px;}
.bm.bw0{margin:10px 0;padding:0;background:none;}
.forumrefresh{height:18px;}
.b1xg{color:#898989;}
.b1xg a{color:#777;}
.b1xg a:hover{color:#f66;}
#filter_dateline_menu{ padding: 5px 10px;}
#atarget, .unchk, .chked{ color: #333;}
.xw1{ font-weight: normal;}
.ttp{ border: 0;}
.ttp .a a, .ttp .a a :hover, .ttp a:hover{ background: #68c7ff; color: #fff; /*border-color: #eee;*/border:0;}
.ttp a, .ttp strong{padding: 4px 8px;height: 18px;border:0;box-shadow: 0 0 3px rgba(0,0,0,.15);}
.ttp a, .ttp .num{ font-weight: normal;}
.ttp a{ border-radius: 4px}
.ttp .num{ background: #68c7ff; border-radius: 10px;}
.ttp .a .num, .ttp a:hover .num{ background: #fff; color: #666 !important;}

/*threadlist*/
#filter_special{ margin-left: 8px;}
.tl .tf a{ margin-left: 8px;padding-top:2px;padding-bottom:2px;}
.forumrefresh{padding-top: 1px; padding-right: 16px; background: url({STYLEIMGDIR}/refresh.png) no-repeat 100% 50%;}
.tl .th{ padding:6px 10px; border-top:3px solid #68c7ff; border-bottom: 0; background:none;}
.tl .ts th, .tl .ts td{background:url({STYLEIMGDIR}/tmbg/black_0.png);border-color: #eee;}
.tl th, .tl td{ border-bottom: 1px dotted #F2F2F2;} 
.tl .threadpre .threadpretd{border:1px solid #C2D5E3;}
.typeoption th{width:120px;}
.tl tr th, .tl tr td{background: url({STYLEIMGDIR}/tmbg/black_0.png); }
.tl tr:hover th, .tl tr:hover td{background: url({STYLEIMGDIR}/tmbg/black_5.png); }
#forumnewshow{display:none;}

#threadlist.bm{border-radius: 0 0 8px 8px;box-shadow: 0 0 3px rgba(0,0,0,.15);}
#threadlist tbody a:hover{ color: #f66;}
#threadlist tbody th .norefresh{ line-height:19px; color: #99a2aa; visibility: visible; opacity: 0;}
#threadlist tbody th:hover .norefresh{ visibility: visible; opacity: 1;}

.tl .icn{ width: 50px;}
.tl .icn .threadann, .tl .icn .threadavr{ margin-left: 4px; display: inline-block;}
.tl .icn .threadann, .tl .icn .threadavr img{ width: 40px; height: 40px;}
.tl .icn .threadavr img{ border-radius: 50%;}
.tl .bylast{ margin-right: 10px;}

#threadlist tbody .pg a, #threadlist tbody .pg a:hover{color:#fff;}
.acgiflists{ float:left; width:80%; overflow:hidden; }
.acgiflisttitle{ height:auto; line-height:22px; padding-top:6px; padding-bottom:3px;}
.acgiflisttitle a.xst{ font-size:14px; color:#444;}
.acgiflisttitle a:hover{ text-decoration:none;}
.acgiflistinfo{ color:#aaa; padding-bottom:6px;}
.acgiflistinfo a{color:#aaa;}
.acgifby1{ float:left;}
.acgifby2{ float:left;}
.acgiflistinfo b.acgib{ float:left; padding:0 10px; color:#ececec;}
.acgifnums{ float:right; margin-top:30px; width:20%; text-align: right;}
.acgifnums span{color: #666; margin-right: 15px;}
#threadlisttableid .by, #threadlisttableid .num{ width:0;}

/*waterfall*/
#waterfall .c, #waterfall h3{padding:0;}
#waterfall .auth, #waterfall .c, #waterfall h3{border:0;background:none;}

#waterfall li{background:#fff;border:0;border:1px solid #eee;border-radius: 3px;}
#waterfall h3{margin:0 8px;padding-top:5px;line-height:22px;}
#waterfall .auth{padding: 0 10px; line-height:22px;background:#fff;}
#waterfall.ml li img{ border-radius: 3px 3px 0 0; z-index:1;}
#waterfall .auth .avr{ position: absolute;top:-34px;visibility:hidden;opacity:0;}
#waterfall .auth .avr img{ width: 32px !important; height: 32px !important;border-radius:50%;}

.tmodclick{position:absolute;right:0;margin:5px;padding:3px;background:rgba(0,0,0,.25);border-radius:5px; z-index:2;}
#waterfall li:hover .tmodclick{background:rgba(0,0,0,.55);}

/* waterfall li height lock begin */
#waterfall li{/* height:200px;*/}
#waterfall h3{ height: 46px; overflow: hidden;}
#waterfall .auth{ position: absolute;left: 0px; right:0; bottom:5px;}
#waterfall.ml li img{/*width: 205px !important; height: 150px !important;*/}
#waterfall li:hover .auth .avr{visibility:visible;opacity:1;}
#waterfall li:hover .auth{bottom:54px; line-height:26px;background:rgba(0,0,0,.4);}
.ie_all #waterfall li:hover .auth{bottom:53px; line-height:26px;background:url({STYLEIMGDIR}/tmbg/black_40.png);}
#waterfall li:hover .auth, #waterfall li:hover .auth a,#waterfall li:hover .xg1, #waterfall li:hover .xg1 a{color:#eee !important;}
/* waterfall li height lock end */

/**end**/

/**forum::viewthread**/
#acgi_modmenu_menu a:hover{color:#fff;background:url({STYLEIMGDIR}/tmbg/fuchsine_60.png)}
#acgi_modmenu, .c1_print{display:inline-block;padding:0 5px;height:18px;line-height:18px;color:#fff;background:#ff88b1;border-radius:2px;}
.c1_print{background:#61cab8;}
.c1_print:hover{color:#fff;}
.plhin{border-bottom: 1px solid #EAEAEA;}
.ad .pls{height:0;}
.pls .avatar img{padding:5px;/*min-width:120px;min-height:120px;*/background: #fff;border-radius: 50%;box-shadow: 0 0 3px rgba(0,0,0,.15);}
#postlist.bm{border-radius:8px;box-shadow: 0 0 3px rgba(0,0,0,.15);}
.pls{background:rgba(0,0,0,.04) url({STYLEIMGDIR}/else_bg.png);border-right-width:0;}
.ie_all .pls{border-right-width:1px;}
.pls p, .pls .pil, .pls .o{margin: 5px 12px;}
.tns th, .tns td,
.tns th a, .tns td a{color:#2196F3;}
.c1pil{padding: 4px 5px 5px 5px;margin: 0 10px 10px 10px;background: url({STYLEIMGDIR}/tmbg/white_90.png);border: 1px dashed #cfcfcf;}
.c1pil p{margin: 1px 0 0 0;padding-left:6px;line-height: 24px;background: url({STYLEIMGDIR}/tmbg/black_5.png);color: #555;border: 1px solid #eaeaea;}
.c1pil p:hover{color:#fff;background: url({STYLEIMGDIR}/tmbg/black_40.png);border: 1px solid #999;}
.c1pil p:hover a{color:#fff;}
.c1pil p a:hover, .tns th a:hover, .tns td a:hover{color:#f88;}
.pbg2{width:140px;}
#fj .px{border: 1px solid;}
.pcbs img, .pcb img{max-width:100%;}
/**end**/

/**forum::post**/
.bm.bw0{border-radius:8px;box-shadow: 0 0 3px rgba(0,0,0,.15);}
.exfm{border:1px dashed #ccc;background:url({STYLEIMGDIR}/tmbg/black_5.png);}
/**end**/

/**home::space,home::spacecp**/
.tdats .tfx{width: 375px;}
.tdats .tfxf{width: 850px;}
.tscr .tdat th, .tscr .tdat td, .tdats .tb, .tscr{width: 475px;}
/**end**/

/**home::space,home::follow**/
.mn{overflow:visible;}
.bm.bw0{box-shadow: 0 0 3px rgba(0,0,0,.15);}
.tbmu a.pn strong{line-height:21px;}
.tb{border:0;}
.tb li{margin:0 10px 0 0;}
#uhd{padding:10px 0 20px;background:url({STYLEIMGDIR}/tmbg/white_60.png);border:0;border-top:3px solid #68c7ff;box-shadow: 0 0 3px rgba(0,0,0,.15);}
#uhd .tb a, #uhd .tb .a a{background: #68c7ff; padding: 3px 8px;line-height:22px; color: #fff!important; text-decoration: none; box-shadow: 0 0 3px rgba(0,0,0,.15); text-shadow: 0 -1px 1px rgba(0, 0, 0, .25); vertical-align: middle;border:0;border-radius: 3px;}
#uhd .tb .a a{background:#ff88b1;}
/**end**/

/**misc::ranklist,home::spacecp,home::magic,home::medal,home::task**/
.mn{overflow:visible;}
/**end**/

/**home::spacecp,forum::post,home::magic,forum::collection,misc::ranklist**/
.tb{border:0;}
.tb li{margin:0 10px 0 0;}
.tb .o, .tb .o a{background:none;border:0;}
.tb a, .tb .a a{background: #68c7ff; padding: 3px 8px;line-height:22px; color: #fff!important; text-decoration: none; box-shadow: 0 0 3px rgba(0,0,0,.15); text-shadow: 0 -1px 1px rgba(0, 0, 0, .25); vertical-align: middle;border:0;border-radius: 3px;}
.tb .a a, .tb .current a{background:#ff88b1;}
.tb .y a{background: #07e285;}
/**end**/

/**home::spacecp,home::medal,home::task**/
.ct2_a .mn .bm{box-shadow:none;}
/**end**/

/**misc::ranklist**/
.tl .th{background:url({STYLEIMGDIR}/tmbg/black_5.png);}
.xl2 li { margin-right: 20px; width: 49%;margin-right:2%; }
.biduser{width: 980px;}
.bm.bw0{box-shadow:none!important;}
.notice{margin:10px 15px;}
/**end**/

/**forum::collection**/
.mn{overflow:visible;}
.tb{margin:15px 10px;}
#ct > div.bm{border-top:3px solid #68c7ff!important;box-shadow: 0 0 3px rgba(0,0,0,.15);}
.sd .bm.bml{border-top:3px solid #68c7ff;}
.tl.bm{border-radius:8px;}
.mn > .bm{box-shadow: 0 0 3px rgba(0,0,0,.15);}
/**end**/

/**forum::guide**/
.mn > .bm{box-shadow: 0 0 3px rgba(0,0,0,.15);}
.ttp.bm{box-shadow:none;}
#threadlist.bm{border-top:3px solid #68c7ff;}
.pgs.bm{padding:0!important;background:none;box-shadow:none;}
.tl .th{background:url({STYLEIMGDIR}/tmbg/black_5.png);}
/**end**/

/**group::index,forum::group**/
.mn{overflow:visible;}
.bmw .bm_h{border:0;border-top:3px solid #68c7ff;}
.sd > .bm.bw0, .bm.emp{background:none;box-shadow:none;}
.sd > .bm.bw0{padding:0;}
/**end**/
/**home::space**/
#moodfm{padding:10px 15px;}
/**end**/